@import './variables';

///font mixins......
@mixin block-font(){
    font-family: 'Monoton', cursive;
}


@mixin   serif-font(){
    font-family: 'EB Garamond', serif;
}
@mixin   sansserif-font(){
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
@mixin   cursive(){
 font-family: 'Zen Dots', cursive;
   
}


@mixin font($font-weight,$font-size){
    font-weight: $font-weight;
    font-size: $font-size;
} 
  
  //miscellaneous mixins
  
@mixin flex($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}


@mixin center(){
    text-align: center;
}
  
  
  
  
html,body{
scroll-behavior: smooth;
overflow-y:scroll;
overflow-x: scroll;

}
   
.App{
    height: 100vh;
    width: 100vw;
}
   
  
   
///NEUTRAL main SECTION............
.neutral{

  height: 100vh;
  width: 100vw;
  background-image:linear-gradient(120deg,purple,transparent),url('../img/planet.svg');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  overflow-y:hidden;




  &-headline{
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(45deg,$color ,salmon,$color ,salmon, $color);
    background-size: 60% 100%;
    background-position: 100% 10px;
    @include block-font();
    @include font(500, 80px);
    @include center();
    font-size:calc(80px + 1vw) !important;
    text-transform:capitalize;
    animation: moveUp 1s linear;
    
  
    }
 
}


 




///SUMMER SECTION............



.landscape{
    background-image:linear-gradient(120deg, rgba(128, 128, 128, 0.561) 15% ,transparent),url('https://images.pexels.com/photos/440731/pexels-photo-440731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
    height: 100vh;
    max-width: 100vw;
    position: relative;
    z-index: -1;

    &-sun{
        border-radius: 50%;
        width:100px;
        height:100px;
        background-color: yellow;
        position: absolute;
        border: 1px solid #ffa60042;
        top: 30px;
        left: 75px;
        animation: appear 1.5s linear 1;
        
        &::after{
            content:'';
            position: absolute;
            background-image: radial-gradient(circle at 50% 50%,transparent 30%, yellow 40%, rgba(255, 166, 0, 0.8) 76%);
            background-size: 100% 100%;
            border-radius: 50%;
            top: -10px;
            left: -10px;
            width:120px;
            height:120px;
            animation: shine 2s ease-in-out 1;
        }
    }
    

}
  
   



///search input.....................



.search{
 border-radius:90px;
 padding: 5px;
 margin: 0;

 
    
      
       &-input{
            outline:none;
            border:none;
            // border-bottom: 2px solid $color !important; 
            background-image: radial-gradient(circle,purple 120%,transparent);
            // background: transparent;
            border-radius: 23px;
            @include font(700, 2rem);
            color: rgba(18,18,18,0.8);
            @include sansserif-font();
            @include center();
            width: 420px;
            color: $color;
            padding: 4px 4px 5px 10px;
            margin-left:10px;
            animation:  wide 0.5s ease-out;
            &::-webkit-search-cancel-button{
                appearance: none;
                background-image: linear-gradient(45deg, transparent 50%,$color 50% 55.5%,transparent 55.5%),linear-gradient(135deg,transparent 50%,$color 50% 55.5%,transparent 55.5%);
                height: 14px;
                width: 14px;
                padding-right:10px;
              

            }
           &::placeholder{
               color: #b68c21;
               @include font(200, 1.2rem);
               @include cursive();
               text-align: left;
               padding: 0 0 0 4px ;
           }
               

        }

        &-btn{
            display:inline;
            outline:none;
            border:none;  
            background: transparent;
            cursor: pointer;
            margin: 3px 0 0 2px;
            &:active, &:focus{
                outline:none;
                border:none; 
                background: transparent;

            }

            & > span{
                padding: 2px;
                color: $color;
              }
        }
}

.temperature{
    position: absolute;
    top: 250px;
    z-index: 4;
    font-size: 1rem;

}



////therma.....

.thermometer{
    height:50vh;
    width: 25vw;
    position:relative;
    top: 100px;
    left: 40px;
    border: 1px solid black;

&-base{
    height: 60px;
    width:60px;
    background-color: salmon;
    border-radius: 50%;
    position: absolute;
    bottom: 0%;
    left:38%;
    border: 12px solid #bbdeec;
    z-index:1;


   
}

&-base::after{     //makes border
    content:'';
    border: 12px solid #bbdeec;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    position:absolute;
    height: 250px;
    width:25px;
    bottom: 98%;
    left:12%;
}
&-base::before{   //makes inner tube 
    content:'';
     background-image: linear-gradient(90deg,#bbdeec 10%,salmon 10% 90%,#bbdeec 90% );
     border-radius: 23px;
     height: 270px;
     width:28px;
     position: absolute;
     bottom: 98%;
     left:30%;
     z-index:-1;

     
    
}



}


////weather-report...............................................

// .weather-report{
//     // border: 1px solid black;
// }

.temperature{
 @include flex(row);

    &-img{
      width: 20%;
      height: 20%;
    }







}

/////////KEYFRAMES..........................


@keyframes rise {
    0%{
        height: 90px;
    }
    25%{
        height: 120px;
    }
    55%{
        height:  130px;
    }
    75%{
        height:  170px;
    }
    90%{
        height:  190px;
    }
    
    100%{
        height: 220px;
    }
}
        




@keyframes appear{
    0%{
        transform: translate(-200px,180px);
  
    }
    100%{
        transform: translate(0px,0px);
    }
}
        



@keyframes shine {
    0%{
        opacity: 0;
    }
    15%{
        opacity:0.1;
    }
    25%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.3;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}




@keyframes  moveUp{
    0%{
        transform: translate(0px,100vh);
        
    }

    50%{
        
        transform: translate(0px,100vh) scaleX(1,1);
        
    }
    50%{
          transform: translate(0px,100vh)  scaleX(-1,-1);
    }

    100%{
        opacity: 1;
        transform: translate(0px,0px);
    }
}




   
@keyframes tornado {
    0%{
        position: absolute;
        top: 100px;
         background:url('../img/wind.svg');
         background-repeat: no-repeat;
         background-position: 0% 30%;
         background-size: 420px 120px;
       
    }
         

    25%{
    
        background:url('../img/wind.svg');
        background-repeat: no-repeat;
        background-position: 40% 20%;
        background-size: 420px 120px;
        transform: skew(20deg,-10deg);
        position: absolute;
        top: 100px;
    }
    50%{
        background:url('../img/wind.svg');
        background-repeat: no-repeat;
        background-position: 70% 20%;
        background-size: 420px 120px;
        transform: skewY(-10deg,0deg);
        position: absolute;
        top: 90px;
    
    }
    75%{
        background:url('../img/wind.svg');
        background-repeat: no-repeat;
        background-position: 90% 20%;
        background-size: 420px 120px;
        transform: skewY(0deg,0deg);
        opacity:0;
        position: absolute;
        top: 80px;
    }
    
    100%{
        opacity:0;
    }
}


@keyframes wide{
    0%{
        width: 50px
    }
    15%{
        width: 100px;
    }
    25%{
        width: 190px;
    }
    50%{
        width: 240px;
    }
    65%{
        width: 290px;
    }
    75%{
        width: 370px;
    }
    100%{
        width: 420px;
    }
}  

   